*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursive;
}
.background{
    background-image: linear-gradient(#292b51, #e47037);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

header{
    width: 100vw;
    height: 70px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    font-size: 2.8em;
}

header input{
    background-color: #262626;
    border: none;
    border-radius: 5px;
    width: 700px;
    height: 40px;
    color: aliceblue;
    font-size: 1em;
    padding: 10px;
}

.btn_desejo{
    background-color: lawngreen;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 1.1em;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 20px;
}

main{
    height: 91vh;
    background-size: contain;
    align-items: center;
    text-align: -webkit-center;
}

.desejo{
    background-image: linear-gradient()
}
#tabela-lista {
    font-weight: lighter;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
    width: 70%;
    white-space: nowrap;
    font-size: 12px;
  }
  
  #tabela-lista td {
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
  }
  
  #tabela-lista th {
    text-align: center;
    padding: 8px;
  }

  #tabela-lista td {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    border-top: 1px solid black;
  }
 
  #tabela-lista th {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 40px;
  }